.col-8 .btn {
    margin: 0 2px; /* Adjust the space between buttons */
}

/* Custom CSS for scrollable container */
.scrollable-container {
    max-height: 80vh; /* Adjust the maximum height as needed */
    overflow-y: auto;
}

/* Media query for small screens */
@media (max-width: 576px) {
    .scrollable-container {
        max-height: 35vh; /* Adjusted height for small screens */
        overflow-y: scroll;
    }
}

/* Custom CSS for distinction between list items */
.list-group-item {
    border: 1px solid #dee2e6; /* Add border around list items */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.list-group-item.clicked {
    background-color: rgba(144, 181, 230, 0.87); /* Background color for clicked item */
}

.list-group-item:hover {
    background-color: #9ed797; /* Background color on hover */
}

.list-group-item:not(:last-child) {
    border-bottom: 1px solid #6f7580; /* Add border between list items */
}

.chart-container {
    width: auto; /* or any other fixed size */
    height: 71.55vh;
}

.navbar-brand img {
    height: 40px; /* or whatever size you prefer */
    width: auto; /* this will keep the image ratio */
    /* additional styles if needed */
}