.col-8 .btn {
    margin: 0 2px; /* Adjust the space between buttons */
}

.chart-container {
    width: auto; /* or any other fixed size */
    height: 71.55vh;
}

.navbar-brand img {
    height: 40px; /* or whatever size you prefer */
    width: auto; /* this will keep the image ratio */
    /* additional styles if needed */
}