/* Custom CSS for scrollable container */
.scrollable-container {
    max-height: 60vh; /* Adjust the maximum height as needed */
    overflow-y: auto;
    overflow-x: auto;
}

/* Media query for small screens */
@media (max-width: 576px) {
    .scrollable-container {
        max-height: 35vh; /* Adjusted height for small screens */
        overflow-y: scroll;
    }
}

.chart-container {
    width: auto; /* or any other fixed size */
    height: 71.55vh;
}

.navbar-brand img {
    height: 40px; /* or whatever size you prefer */
    width: auto; /* this will keep the image ratio */
    /* additional styles if needed */
}

.additional-text-container {
    max-height: 19vh; /* Set maximum height */
    overflow: auto; /* Add scrollbar if text overflows */
}

.additional-text {
    background-color: #f8f9fa; /* Adjust background color as needed */
    border: 1px solid #dee2e6; /* Adjust border color as needed */
    padding: 10px; /* Adjust padding as needed */
    margin-top: 10px; /* Adjust margin top as needed */
}


@keyframes blink {
    0% { background-color: transparent; }
    50% { background-color: rgba(16, 63, 210, 0.85); } /* Change color to your preference */
    100% { background-color: transparent; }
}

.blinking {
    animation: blink 1s ease-in-out infinite;
}
